name: Sync issue to Azure DevOps work item

"on":
  issues:
    types:
      [opened, assigned]

jobs:
  alert:
    runs-on: ubuntu-latest
    steps:
      - uses: danhellem/github-actions-issue-to-work-item@master
        env:
          ado_token: "${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}"
          github_token: "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
          ado_organization: "GithubIssues"
          ado_project: "Github"
          ado_area_path: "One\\IoT\\Developers and Devices\\SDKs\\Managed"
          ado_wit: "Issue"
          ado_new_state: "New"
          ado_close_state: "Done"
          ado_bypassrules: true
